@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Yekan-Bold";
        src: url(/fonts/Yekan-Bold.woff) format("woff");
    }
    @font-face {
        font-family: 'Yekan-Black';
        src: url(/fonts/Yekan-Black.woff) format("woff");
    }
    @font-face {
        font-family: 'Yekan-Medium';
        src: url(/fonts/Yekan-Medium.woff) format("woff");
    }
}